
#map {
  height: 95vh;
}

html, body {
  margin: 10;
  padding: 10;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
	main {
		flex-direction: row;
		position: relative;
	}
}